[train]
epoch = 300
batch_size = 24
learning_rate = 2e-4
reader_num = 8

[eval]
batch_size = 1
reader_num = 8

[data]
normalization = 1
train_dataset_type = BraTS2021
train_formatter_type = NIFTI

valid_dataset_type = BraTS2021
valid_formatter_type = NIFTI

test_dataset_type = BraTS2021
test_formatter_type = NIFTI

[model]
model_path = model/user
model_name = UserNet,discriminator
input_dim = 1
output_dim = 1
playground = playground
optimizer_name = adam, adam

[output]
output_time = 1
test_time = 5
num_worker = 32
sample_path = model/sample

model_path = model/user-v2
model_name = user-v2
tensorboard_path = model/user-v2/tensorboard

accuracy_method = Vision
output_function = Vision
output_value = PSNR,SSIM

[dataset]

training_num = 1003
eval_num = 124
test_num = 125
